body{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: top;
	font-family: sans-serif;
	color:#ecedc0;
	font-size:18px;
	
	overflow: hidden;
}

.box-1{
	width: 100%;
	height: 25%;
	background: #ecedc0;
	position: absolute;

}

.box-2{
	width: 100%;
	height: 67.5%;
	background: #362417;
	top:20%;
	position: absolute;
	box-sizing: border-box;

}

.box-3{
	width: 100%;
	height: 40%;
	background: #ecedc0;
	color: #fff;
	top: 65%;
	left: 0%;
	padding:25px;
	position: absolute;
	box-sizing: border-box;
}



.box-4{
	width: 100%;
	height: 9%;
	background: #362417;
	top:86%;
	position: absolute;
	box-sizing: border-box;
}

.box-5{
	width: 100%;
	height: 5%;
	background: #ecedc0;
	top:95%;
	position: absolute;
	box-sizing: border-box;
}

.logo{
	width: 33%;
	height: 30%;
	position: absolute;
	top: 3%;
	left: 1%;
}

.logo2{
	max-height: 17.5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;  
}

.sosmed{
	height: 100%;
	max-width: 98%;
	display: block;
	padding-left: 2%;
}

h1.kelas{
	margin: 0;
	padding: 17.5% 0 0 0;
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
	color: #362417;
}


h1.gedung{
	margin: 0;
	padding: 1% 0 0 0;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	color: #362417;
}

h1.kegiatan{
	margin: 0;
	padding: 5% 15% 0 15%;
	text-align: center;
	font-size: 60px;
	font-family: sans-serif;
	color: #ecedc0;
}

th{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px 10px 10px 10px;
}

td {
	padding: 10px 10px 10px 10px;
}


h1{
	margin: 0;
	text-align: center;
	font-size: 33px;
}

.jalan{
	text-align: center;
	font-size: 17px;
	padding-top: 3%;
	
	color: #362417;
}

#sliderbox{
	position: relative;
	width: 2185px;
	animation-name: slideranimation;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#sliderbox img{
	float: left;
}

@keyframes slideranimation{

	0%{
		left: 0px;
	}
	25%{
		left: 0px;
	}
	30%{
		left: -728px;
	}
	55%{
		left: -728px;
	}
	60%{
		left: -1456px;
	}
	85%{
		left: -1456px;
	}
	100%{
		left: 0px;
	}

}






